<launch>

<node pkg="rostopic" type="rostopic" name="clock_node" args="pub -s -r 10 /clock rosgraph_msgs/Clock 'now'" output="screen"/>

<node name="quadrotor2d" pkg="phase1" type="quadrotor2d.py" output="screen" launch-prefix="gnome-terminal --command" />
<node name="controller2d" pkg="phase1" type="controller2d.py" output="screen" launch-prefix="gnome-terminal --command" />
<node name="quadrotor_plot" pkg="rqt_plot" type="rqt_plot" args="/quadrotor"/>  
<node name="controller_plot" pkg="rqt_plot" type="rqt_plot" args="/controller"/>  

</launch>



<!-- 
  
  <node pkg="rostopic" type="rostopic" name="clock_node" args="pub -s -r 10 /clock rosgraph_msgs/Clock 'now'" output="screen"/>

  <param name="use_sim_time" value="true"/> 

  <node name="controller2d" pkg="phase1" type="controller2d.py" output="screen" launch-prefix="xterm -e" />
  <node name="quadrotor2d" pkg="phase1" type="quadrotor2d.py" output="screen" launch-prefix="xterm -e"/> 

replace above launch-prefix with "gnome-terminal dashdashcommand" to get the output displayed in ubuntu terminal, replace each dash with a hyphen
-->


